*{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.full-screen{
    min-height: 100vh;
    width: 100%;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

ul li {
    list-style: none;
}

li a{
    text-decoration: none;
    color: #feffff;
}

nav{
    background: #630a34;
    padding: 15px 0px;
}

.navbar{
    justify-content: space-between;
}

.nav-menu {
    position: fixed;
    left: -100%;
    top: 2.75rem;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    background-color: #630a34;
}

.nav-item{
    padding: 15px 0px;
}

.nav-menu.active {
    left: 0;
}

.nav-item {
    margin: 0.2rem 0;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 2px 5px 2px auto;
    transition: all 0.3s ease-in-out;
    background-color: #feffff;

}

.--section{
    min-height: 80vh;
    width: 100%;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col{
    padding: 15px 50px;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.button{
    padding: 15px 75px;
    border: 1px #630a34 solid;
    background-color: #630a34;
    color: #feffff;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.3s;
}

.button:hover{
    border: 1px #630a34 solid;
    color: #630a34;
    background-color: #feffff;
}

.modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

.modal-card{
    padding: 50px 40px;
    background-color: #feffff;
    border-radius: 1rem;
    width: 50%;
}

.col-1{
    padding: 10px 0px;
}

.col-1 h1{
    font-size: 18px;
}

.col-1 p{
    font-size: 12px;
}

.col-1:nth-child(3){
    margin: 1px 1px 1px auto;
}

.button-popup{
    padding: 10px 25px;
    border: 1px #630a34 solid;
    background-color: #630a34;
    color: #feffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition-duration: 0.3s;
}

.show-animation{
    animation: show 0.2s;
}

.hide-animation{
    animation: hide 0.2s;
}

@keyframes show {
    from{
        transform: scale(0);
        z-index: -1;
    }

    to{
        transform: scale(1);
        z-index: 2;
    }
}

@keyframes hide {
    from{
        transform: scale(1);
        z-index: 2;
    }

    to{
        transform: scale(0);
        z-index: -1;
    }
}

  

/* .test{
    border: 1px solid red;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .modal-card{
        padding: 75px;
    }
    .col-1 h1{
        font-size: 28px;
    }
    
    .col-1 p{
        font-size: 20px;
    }

    .button-popup{
        padding: 20px 40px;
        font-size: 24px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        left: unset;
        top: unset;
        position: unset;
    }
    
    .nav-item {
        margin-left: 1rem;
        padding: 0px;
    }
    
    .hamburger {
        display: none;
    }

    .col{
        padding: 15px 275px;
    }

    .col-1{
        padding: 15px 75px;
    }

    .modal-card{
        padding: 40px 0px;
        width: 50%;
    }

    .button-popup{
        padding: 15px 35px;
        font-size: 24px;
    }

    
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
